<template>
  <div>
    <h1>Productos</h1>
    
<el-form  :model="producto" label-width="120px" :loading="loading">
  <el-form-item label="Nombre">
    <el-input v-model="producto.productoNombre"></el-input>
  </el-form-item>
 <el-form-item label="Precio">
    <el-input v-model.number="producto.productoPrecio"></el-input>
  </el-form-item>
  <el-form-item label="Impuesto">
    <el-input v-model.number="producto.productoImpuesto"></el-input>
  </el-form-item>
  <el-form-item>
    <el-button type="primary" @click="create">Create</el-button>
    <el-button>Cancel</el-button>
  </el-form-item>
</el-form>
  </div>
</template>

<script>
export default {
  name: 'Productos',
  data () {
    return {
      producto: {
        productoNombre: '',
        productoPrecio: '',
        productoImpuesto: ''
      },
      loading: false
    }
  },
  methods: {
    create () {
      this.loading = true
      this.$http.post('api/productos', this.producto).then(response => {
        this.productos = response.body
        this.loading = false
      }, response => {
        this.loading = false
        console.error(response)
      })
    }
  },
  mounted () {
    this.get()
  }
}
</script>