<template>
  <div>
    <h1>Productos</h1>
    <span v-if="loading">Cargando...</span>
   <ul>
     <li v-for="item in productos">
       {{item.productoNombre}}
     </li>
   </ul>
<select-producto v-model="productoSeleccionado"></select-producto>

  </div>
</template>

<script>
export default {
  name: 'Productos',
  data () {
    return {
      productos: [],
      loading: false,
      productoSeleccionado: ''
    }
  },
  methods: {
    get () {
      this.loading = true
      this.$http.get('api/productos').then(response => {
        this.productos = response.body
        this.loading = false
      }, response => {
        this.loading = false
        console.error(response)
      })
    }
  },
  mounted () {
    this.get()
  }
}
</script>