<template>
 <el-select v-model="value" @change="onChange" placeholder="..." clearable filterable>
    <el-option
      v-for="item in options"
      :key="item.id"
      :label="item.productoNombre"
      :value="item.id">
    </el-option>
  </el-select>
</template>

<script>
export default {
  props: {
    value: ''
  },
  name: 'Productos',
  data () {
    return {
      options: [],
      loading: false
    }
  },
  methods: {
    get () {
      this.loading = true
      this.$http.get('https://localhost:44378/api/productos').then(response => {
        this.options = response.body
        this.loading = false
      }, response => {
        this.loading = false
        console.error(response)
      })
    },
    onChange (value) {
      this.$emit('input', value)
    }
  },
  mounted () {
    this.get()
  }
}
</script>